{% extends 'base.html' %}
{% block content %}

<div class="container overflow">
    {% block editor_content %}
    {% endblock %}
</div>

{% load crispy_forms_tags %}

<nav class="navbar navbar-blend fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <h1 class="navbar-brand">Editor Mode</h1>
        <div class="navbar navbar-collapse">
            <form class="navbar-form form-inline" method="post">
                {% csrf_token %}
                {% crispy collab_form %}
            </form>
        </div>
</nav>
{% endblock %}
