{% extends 'base.html' %}
{% block content %}


{% block editor_content %}
{% endblock %}

<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <h1 class="navbar-brand">Editor Mode</h1>
    <div class="container">
        <div class="navbar navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item mx-1 mb-2 mb-lg-0">
                    <form class="navbar-form" method="post">
                        <input type="text" class="form-control" placeholder="Incubator type">
                    </form>
                </li>
                <li class="nav-item mx-1">
                    <form class="navbar-form" method="post">
                        <input type="number" class="form-control" placeholder="Production count">
                    </form>
                </li>
            </ul>
        </div>
        <button class="btn btn-primary btn-light" type="submit">Add new oder</button>
    </div>
</nav>
{% endblock %}
